body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 150px 20px 150px;
}

.wrapper{
  margin-left: 175px;
  margin-right: 175px;
}


.titles {
  margin-top: 5px;
}

#description {
  margin-bottom: 25px;
}

.inner-container {
  padding-left: 40px;
  padding-right: 40px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #e8e6e6;
  padding-top: 10px;
}

.list {
  padding-left: 40px;
  padding-bottom: 10px;
}

